/* font */
/* <i class="fas fa-angle-right"></i>
<i class="fas fa-angle-left"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-facebook-f"></i>
<i class="fab fa-youtube"></i>
<i class="fab fa-instagram"></i> 
<i class="fab fa-linkedin-in"></i>
<i class="fas fa-bars"></i>
<i class="far fa-circle"></i>
<i class="fas fa-circle"></i>*/

*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}


/* header */
.logo > img{
    width:100%;
}

.left_menu ul{
    padding: 10px;
}

.left_menu > ul , .right_menu > ul {
    list-style: none;
    font-size: 13px; 
}

.logo > img, .left_menu > ul , .right_menu > ul {
    display: flex;
}

.left_menu > ul {
    justify-content: flex-end;
}

.right_menu > ul {
    justify-content: flex-end;
}
.left_menu > ul > li , .right_menu > ul > li {
    padding-right: 40px;
    display: flex;
    align-items: center;

}

.left_menu > ul > li > a , .right_menu > ul > li > a {
    text-decoration: none;
    color: #092252;
}

ul > li > #sign{
    color: #579AFF;
    border: 1px solid #579AFF;
    border-radius: 5px;
    padding: 10px;
}

.bars {
    display: none; 
}


/* MAIN */

/* PRIMA PARTE */

.background  {
    background-image: url(../img/bg-banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title > h1 {
    width: 100%;
    font-size: 60px;
    color: white;
}

.title > p {
    width: 90%;
    font-size: 20px;
    color: #BACCFF;
}

.form {
    background-color: white ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 50px; 
}

.form > h2 {
    font-size: 20px;
   
}

.blue {
    color: #092252;
    padding-top: 10px;
}
.lightb {
    color: #006AFF;
    padding-top: 10px;
}

#email ,  #password {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    margin-top: 20px; 
    border: 1px solid #F8F8F8;
    border-radius: 10px;   
}

.account {
    width: 90%;
    color: white;
    background-color: #579AFF;
    text-decoration: none;
    font-size: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px; 
}

.google {
    background-image: url(/assets/img/google-icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 15px;
    box-shadow: 0.5px 1px 1px 1px #7A7A7A;
    border-radius: 5px;
    margin-top: 20px;

}

.google a {
    text-decoration: none;
    font-size: 10px;
    color: #7A7A7A;
}

.form > p {
    color: #092252;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 10px;
    
}
.form > p > a{
    text-decoration: none;
    color: #217DFF;
    
}


/* SECONDA PARTE */
.icons {
    background-color: #F3F5F9;
}

.trust {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #75809C;
    padding-top: 60px;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos > img {
    height: 100px;
}

.customer {
    display: flex;
    justify-content: center;
}

.customer > a {
    font-size: 12px;
    color: #217DFF;
    text-decoration: none;
}

/* TERZA PARTE */
.deploy_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deploy_title h2{
    font-size: 30px;
    color:#092252;
    padding-top:20px;
}

.deploy_title p{
    padding-top: 10px;
    font-size: 20px;
    color:#75809C;
    text-align:center;
}
.deploy .list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    list-style: none;
    border-left: 1px solid #CDCDCD;
}

.list > ul > li {
    padding: 20px;
    color:  #7F89A1;
}

.left_column, .right_column {
    margin-top: 50px;
    padding-left: 40px;
}

.cluster {
    padding-bottom: 20px;
}
.tipes {
    padding-bottom : 60px;
}

.left_column img, .right_column img {
    width: 40px;
    padding-bottom: 20px;;
}

.left_column h3, .right_column h3 {
    font-size: 18px;
    color: #092252;
}

.left_column p, .right_column p {
    font-size: 12px;
    color: #7F89A1;
    padding-top: 20px;
    width:70%;

}

/* QUARTA PARTE */
.design {
    margin-top: 70px;
    background-color: #F3F5F9;;
}
.design_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design_title h1 {
    font-size: 30px;
    color:#092252;
    padding-top: 40px;
    padding-bottom: 50px;
}

.design_title p {
    font-size: 20px;
    color:#75809C;
    padding-bottom: 50px;
}

.droplets {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.droplets img {
    width: 40%;
}

.droplets i {
    padding: 30px;
    font-size: 30px;
    color:#092252;
}

#clear {
    color: #6F7B97;
}

.create {
    display:flex;
    justify-content: center;  
}

.create p {
    color:#092252;
    font-size: 15px;
}

.link {
    display: flex;
    justify-content: center;
}

.link a {
    text-decoration: none;
    color: #006AFF;
    padding: 5px;
    font-size: 10px;
}


/* QUINTA PARTE */

.feat_title {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.feat_title h1 {
    color:#092252;
    font-size: 30px;
}

.column {
    padding-top: 20px;
}


.pricing img, .world_class img, .platform img {
    width: 50px;
}

.pricing h3, .world_class h3, .platform h3 {
    font-size: 20px;
    color:#092252;
    padding-top: 20px;
}

.pricing p, .world_class p, .platform p {
    font-size: 15px;
    color: #75809C;
    padding-top: 20px;
    width: 80%;

}

.pricing a, .world_class a, .platform a{
    font-size: 15px;
    color:#217DFF;
    position: absolute;
}

.column a {
    position: relative;
    top: 20px;
}

/* SESTA PARTE */
.service {
    background: linear-gradient(180deg, #0047C5 0%, #00209B 100%); 
    margin-top: 100px;
}

.service_title {
    display: flex;
    justify-content: center;
}

.service h1{
    padding-top: 30px;
    color: white;
    font-size: 30px;
}

.col-right, .col-left {
    display: flex;
    flex-direction: column; 
}

.riga1 {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    border-bottom: 0.5px solid white;
    width:95%;
} 
.riga2{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    border-bottom: 0.5px solid white;
}
.code {
    display: flex;
    justify-content: flex-start;
    color: white;
}

.city {
    display: flex;
    justify-content: flex-start;
    color:#BACCFF;
}

.test a{
    display: flex;
    justify-content: flex-end;
    color:#00CDCF;
    text-decoration: none;
}


/* SETTIMA PARTE */

.teams {
    background-color: #F3F5F9;
}

.teams_title h1{
    font-size: 30px;
    color:#092252;
    text-align: center;
    padding-top: 30px;
}
.rocker_box {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 50px;
}

.box {
    width:40%;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;

}

.box img {
    width: 60%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
}

.box h3 {
    color: #5D6B89;
    font-size: 20px;
    font-weight: 100;
    padding-top: 50px;
    width: 90%;
    text-align: center;
}

.box p {
    color:#092252;
    font-size: 15px;
    padding-top:10px;
}

#bolder {
    font-weight: bolder;
}

.box a {
    font-size: 15px;
    text-decoration: none;
    color: #0B71FF;
    padding-top:20px;
    padding-bottom: 20px;
}

/* OTTAVA PARTE */

.start {
    background: linear-gradient(180deg, #0047C5 0%, #00209B 100%);
}

.create_account {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    padding-bottom: 50px;
}


.create_account h1 {
    font-size: 30px;
    color: white;
}

.create_account a {
    background-color: white;
    color: #0B71FF;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}


/* FOOTER */

.site_footer {
    background-color: #031C4E;
}

.foot_logo {
    margin-top: 50px; 
}

.foot_logo img {
    padding-bottom: 10px;
}
.foot_logo p{
    font-size: 12px;
    color: #8892A7;
}

#dark {
    color: #505F80;
}


.foot_logo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    color: #7A859D;
    list-style: none;
    width: 30%;
    padding-top:10px;
}

.company, .product, .community, .support {
    margin-top: 50px;
}

.company h4, .product h4, .community h4, .support h4{
    font-size: 15px;
    color: white;
}


.company ul, .product ul, .community ul, .support ul {
    color: #A2AABA;
    list-style: none;
    font-size: 12px;
}

.company li, .product li, .community li, .support li{
    padding-top:10px;
}





